# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
dist/
build/

# Environnement
.env
venv/
.venv/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Données locales
data/
*.db
